
body {
    background-color: rgb(6, 8, 6);
}

/*navigation menu*/

#nav_panel {
    z-index: 999;
    position: fixed;
    padding-top: 15px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.9);
    margin-bottom: 100px;
}

.left_nav {
    cursor: pointer;
    width: 125px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.right_nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-top: 8px;
    width: 30px;
    height: 30px;
}


.left_link {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.right_nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;

}

.right_nav p {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.right_nav a:hover {
    transition-duration: 0.5s;
    color: rgb(74, 199, 82);
}

.right_nav p:hover {
    transition-duration: 0.5s;
    color: rgb(74, 199, 82);
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    margin-top: 50px;
    margin-left: 275px;
    background-color: black;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.menu-content a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
}

#logout {
    color: rgb(208, 208, 208);
}

#login {
    padding-right: 75px;
}

#logout:hover {
    transition-duration: 0.5s;
    color: rgba(74, 199, 82, 0.8);;
}

.menu-content a:hover {
    transition-duration: 0.5s;
    color: rgb(74, 199, 82);
}

.show {
    display: block;
}

.mobile_menu {
    display: block;
}

@media screen and (max-device-width: 768px) {
    .nav_panel {
        display: none;
    }
}

@media screen and (min-device-width: 768px) {
    .mobile_menu {
        display: none;
    }
}

/*index page*/
.index_logo {
    width: 150px;
}

.index_logo_box {
    width: 150px;
    margin: 0 auto;
    padding-top: 300px;
}

.index_text {
    text-align: center;
}

.welcome_t1 {
    text-align: center;
    font-size: 30px;
    color: rgba(74, 199, 82, 0.6);
    transition-duration: 0.4s;
}

.welcome_t1:hover {
    font-size: 40px;
    transition-duration: 0.4s;
    color: rgba(74, 199, 82, 0.8);
}

.welcome_t2 {
    text-align: center;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 0.4s;
}

.welcome_t2:hover {
    font-size: 40px;
    transition-duration: 0.4s;
    color: rgba(255, 255, 255, 0.8);
}

.welcome_t3 {
    text-align: center;
    font-size: 30px;
    color: rgba(74, 199, 82, 0.4);
    transition-duration: 0.4s;
}

.welcome_t3:hover {
    font-size: 40px;
    transition-duration: 0.4s;
    color: rgba(74, 199, 82, 0.6);
}

.welcome_box {
    width: 70%;
    margin: 0 15%;
    height: 300px;
}

.index_btn{
    margin-top: 25px;
    width: 300px;
}

.index_btn_box {
    width: 300px;
    margin: 0 auto;
}
/*cabinet release block*/

.release {
    padding-top: 25px;
    width: 625px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    border-radius: 20px;
}

#d_release_status_default:hover {
    transition-duration: 0.5s;
    background-color: rgba(31, 31, 31, 0.08);
}

#d_release_status_success:hover {
    transition-duration: 0.5s;
    background-color: rgba(54, 209, 54, 0.08);
}

#d_release_status_pending:hover {
    transition-duration: 0.5s;
    background-color: rgba(212, 203, 44, 0.08);
}

#d_release_status_canceled:hover {
    transition-duration: 0.5s;
    background-color: rgba(222, 53, 53, 0.08);
}

.release_name {
    font-weight: bolder;
    font-size: 30px;
}

.release_authors {
    font-size: 25px;
}

.release_cover {
    height: 260px;
    width: 260px;
    margin-right: 50px;
    border-radius: 20px;
}

.release_date {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
}

.release_status_default {
    width: 220px;
    font-size: 25px;
    color: rgba(31, 31, 31, 1);
    background-color: rgba(31, 31, 31, 0.2);
    border-radius: 20px;
    text-align: center;
}

.release_status_success {
    width: 220px;
    font-size: 25px;
    color: rgba(54, 209, 54, 1);
    background-color: rgba(54, 209, 54, 0.2);
    border-radius: 20px;
    text-align: center;
}

.release_status_pending {
    width: 220px;
    font-size: 25px;
    color: rgba(212, 203, 44, 1);
    background-color: rgba(212, 203, 44, 0.2);
    border-radius: 20px;
    text-align: center;
}

.release_status_canceled {
    width: 220px;
    font-size: 25px;
    color: rgba(222, 53, 53, 1);
    background-color: rgba(222, 53, 53, 0.2);
    border-radius: 20px;
    text-align: center;
}

.cabinet_menu {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    text-align: center;
}

.cabinet_link {
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    font-size: 30px;
    color: white;
}


.cabinet_link:hover {
    transition-duration: 0.5s;
    color: rgb(74, 199, 82);
}

#staticBackdrop {
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: rgb(6, 8, 6);
    border-radius: 20px;
}

.modal-title {
    color: rgba(255,255,255,0.6);
}
.modal-header {
    border-bottom: 2px solid rgba(255,255,255,0.2);
}
.modal-footer {
    border-top: 2px solid rgba(255,255,255,0.2);
}


/*settings page*/

.settings_elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.s_element {
    margin: 50px 25px 25px 25px;
    width: 500px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 100px;
    border-radius: 50px;
    border: 10px solid rgba(255, 255, 255, 0.08);
}

.s_element:hover {
    transition-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0.10);
}

.s_element p {
    max-width: 350px;
    font-size: 30px;
    margin-left: 50px;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 100px;
}

#btn_save {
    width: 130px;
    margin-left: 140px;
    margin-top: 50px;
}

.settings_dark {
    font-size: 25px;
    margin-left: 10px;
}
#dark_box{
    width: 198px;
    margin: 0 auto;
}


/*release info and track list*/

.release_info {
    margin: 50px auto;
    width: 500px;
    min-height: 750px;
    border-radius: 50px;
    border: 10px solid rgba(255, 255, 255, 0.05);
}

.release_info:hover {
    transition-duration: 0.5s;);
    background-color: rgba(255, 255, 255, 0.05);
    border: 10px solid rgba(255, 255, 255, 0.08);
}

.t_release_name {
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.t_release_date {
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 30px;
    text-align: center;
}

.t_release_cover {
    margin-left: 75px;
    height: 350px;
    width: 350px;
    border-radius: 20px;
    margin-bottom: 50px;
}


.track_list {
    margin-top: 20px;

}

.track {
    font-size: 25px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 1px solid rgba(74, 199, 82, 0.2);
}

.t_release_status {
    margin-left: 140px;
    margin-bottom: 30px;
    padding-top: 40px;
}

#t_release_return {
    width: 300px;
    margin-top: 100px;
    margin-bottom: 25px;
    margin-left: 100px;
}


/*upload*/

.upload_box {
    width: 900px;
    margin: 25px auto;
    padding-top: 50px;
    border: 10px solid rgba(255,255,255,0.05);
    border-radius: 50px;
}

.upload_box:hover {
    background: rgba(255,255,255,0.05);
    border: 10px solid rgba(255,255,255,0.1);
}

.cover {
    height: 300px;
    margin-left: 80px;
    border-radius: 30px;
}

.cover:hover {
    background-color: rgba(255,255,255,0.05);
    cursor: pointer;
}

.upload_rel_name {
    font-size: 30px;
    text-align: center;
}

.upload_name_box {
    width: 500px;
    margin-left: 200px;
    border-bottom: 2px solid rgba(74, 199, 82, 0.2);
}

.upload_rel_perfs {
    text-align: center;
    color: rgba(255,255,255,0.8);
}

.track_box {
    width: 600px;
    margin-left: 150px;
    padding-bottom: 25px;
}

#btn_add_track {
    width: 160px;
    margin-left: 220px;
}

/*login and register boxes*/

.login_box {
    width: 500px;
    margin: 0 auto 25px;
    border-radius: 20px;
    border: 10px solid rgba(255,255,255,0.05);
}

.login_box:hover {
    background-color: rgba(255,255,255,0.05);
    border: 10px solid rgba(255,255,255,0.1);
}

.email_box {
    width: 400px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-top: 50px;
}

.username_boxR {
    width: 400px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.username_box {
    width: 400px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-top: 50px;
}

.pass_box {
    width: 400px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.btn_box {
    margin-left: 50px;
    padding-bottom: 50px;
}


input[type=email] {
    font-size: 20px;
}


input[type=text] {
    font-size: 20px;
}


input[type=password] {
    font-size: 20px;
}
/*prices accordion*/
.accordion_box {
    width: 600px;
    height: 1300px;
    margin: 0 auto;
}

.p_price {
    text-align: center;
}

.btn_go {
    width: 50px;
}

.btn_go_box {
    width: 50px;
    margin-left: 275px;
    margin-top: 300px;
}

.accordion {
    margin: 0 auto;
    width: 600px;
    padding-bottom: 50px;
}

.accordion-button {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    background-color: black;
}

.accordion p {
    color: rgba(255, 255, 255, 0.8);
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-body {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.accordion-item {
    background-color: rgba(255, 255, 255, 0.6);
}

/*request box*/

.request_box {
    font-size: 20px;
    margin-left: 75px;
    width: 750px;
}

#formBtn {
    margin-left: 75px;
    margin-bottom: 50px;
}


.request {
    padding-top: 75px;
    width: 900px;
    margin: 0 auto;
    border-radius: 50px;
    border: 10px solid rgba(255,255,255,0.05);
}

.request:hover {
    background-color: rgba(255,255,255,0.05);
    border: 10px solid rgba(255,255,255,0.1);
}

/*footer*/

.footer_info {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.95);
    margin-top: 360px;
}

.footer_info p {
    color: rgb(145, 145, 145);
}

.footer_info a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footer_info a:hover {
    transition-duration: 0.5s;
    color: rgb(74, 199, 82);
}


/*size const*/

label {
    color: white;
    font-size: 20px;
}

p {
    color: white;
    font-size: 20px;
}

span {
    color: white;
    font-size: 20px;
}

.zg {
    color: white;
    font-size: 30px;
}

.second_text {
    color: rgba(255,255,255,0.4);
    font-size: 20px;
}

/*buttons*/

.btn {
    font-size: 20px;
    border-radius: 20px;
}

.btn-primary {
    color: white;
}

.btn-primary:hover {
    color: rgb(240, 240, 240);
}

.form-control {
    border-radius: 20px;
    color: white;
    border: none;
    background-color: rgba(255,255,255,0.05);
}
.form-control:focus {
    color: white;
    background-color: rgba(255,255,255,0.05);
}

input[type=checkbox] {
    margin-top: 8px;
    padding-top: 20px;
    padding-left: 50px;
}

/*info messages*/

.wrong {
    display: none;
    margin: 0 auto;
    background-color: rgba(222, 53, 53, 0.2);
    width: 500px;
    height: 60px;
    border-radius: 20px;
}

.wrong p {
    text-align: center;
    padding-top: 15px;
    color: rgba(222, 53, 53, 1);
}

.warning {
    display: none;
    margin: 0 auto;
    background-color: rgba(212, 203, 44, 0.2);
    width: 500px;
    height: 60px;
    border-radius: 20px;
}

.warning p {
    text-align: center;
    padding-top: 15px;
    color: rgba(212, 203, 44, 1);
}

.success {
    display: none;
    margin: 0 auto;
    background-color: rgba(54, 209, 54, 0.2);
    width: 500px;
    height: 60px;
    border-radius: 20px;
}

.success p {
    text-align: center;
    padding-top: 15px;
    color: rgba(54, 209, 54, 1);
}