{{define "footer"}}
    <div style="background-color: rgba(0,0,0,0.95); height: 65px; margin-top: 360px;">
        <div class="d-flex justify-content-evenly" style="padding-top: 10px; align-items: center;">
            <p class="fs-4" style="color: white">wasteoff! 2021</p>
        </div>
    </div>

    </html>
{{end}}