{{define "header"}}

<!DOCTYPE html>
<html>
<head>
    <title>FUSE</title>
    <meta charset="utf-8">
    <link href="/resources/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../resources/{{print .theme}}" rel="stylesheet">
</head>
{{end}}