{{define "header"}}

<!DOCTYPE html>
<html>
<head>
    <title>FUSE by wasteoff!</title>
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../resources/style.css" rel="stylesheet">
</head>
{{end}}